body {
    text-align: center;
    padding-top: 100px;
}

#5 {
    border-radius: 10%;
    margin-top: 50px;
    width: 170px;
}

#welcome {

    position: absolute;
    overflow: hidden;
    height: 500px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(pink 0%, blue 0%, purple 80%);
    display: table;
    width: 100%;
    z-index: 999;
    
}

#inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#about {
    padding-top: 380px;
    text-align: center;
    font-size: 20px;
}

#text? {

    font-size: 30px;
    line-height: 1.2;
    font-family: 'Architects Daughter',
        cursive;
}

#blahblahblah {
    font-family: 'Permanent Marker',
        cursive;
    height: 21px;
    background-color: lightblue;
    width: 1789px;
    margin: 8px auto;
}

.menu {
    list-style: none;
    position: fixed;
    top: 0px;
    color:aliceblue;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    margin-top: 0px;
    
}


.links {
    float: left;
    display:inline;
    color: fuchsia;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    background-color: crimson;
}
#picture{
   transition: transform .2s;
    border: 10px solid #AAAAAA;
    
    
    img:hower{
        transform: scale(0.9);
    }
    
}